:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  background-color: var(--color-background-900);
  color: var(--color-text-dark);
  font-weight: 400;
}

input {
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-background-100);
  background: none;
  background-color: var(--color-background-500);
  color: var(--color-text);
}

input[type="text"] {
  width: 70%;
  padding: 0.5rem 0;
  text-align: center;
}

input[type="number"] {
  width: 10%;
  padding: 0.5rem;
}

input[type="checkbox"] {
  accent-color: green;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  column-gap: 0.5rem;
}

.header button {
  background: none;
  border: none;
}

.header img {
  width: 2.4rem;
}

.title {
  font-size: clamp(2rem, 4vw, 3.2rem);
  margin-bottom: 2rem;
}

.length-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  column-gap: 0.5rem;
}

.main ul {
  font-size: clamp(1rem, 4vw, 1.6rem);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
}

.main li {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
