:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  background-color: #111;
  color: #eee;
}

input[type="text"],
input[type="number"] {
  outline: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  border: 1px solid #777;
  font-family: inherit;
  transition: border-color 0.25s;
}

input[type="number"] {
  width: 3em;
}

input[type="checkbox"] {
  width: 1.4em;
  height: 1.4em;
  accent-color: green;
}

input[type="range"] {
  width: 100%;
  height: 5em;
  cursor: pointer;
}

button {
  text-transform: inherit;
  border-radius: 8px;
  background: none;
  background-color: #222;
  border: 1px solid #333;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #333;
}

.wrapper {
  min-width: 20em;
  max-width: 37em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 1em auto;
  padding: 0 1em;
}
.wrapper h1 {
  font-size: clamp(1.4em, 4vw, 2.4em);
  line-height: 1.1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.header input {
  font-size: 1.6em;
}

.main {
  width: 100%;
  font-size: 1.2em;
}

.length-selector label {
  margin-right: 1em;
}

.length-selector input[type="number"] {
  font-size: 0.8em;
}

.length-selector input[type="range"] {
  grid-column: span 3;
}

.length-selector span {
  justify-self: end;
}

.main ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.main li {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
